.AppHeader {
    height: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: #282c34;
    height: 40px;

  }