.Error {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.Error p {
    padding: 10px;
    color: red;
    font-size: large;
    font-weight: bold;
}

.Error svg path,
.Error svg circle {
  fill: red;
  stroke: red;
}
